*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    margin: 10px;
    text-align: center;
}

div{
    margin-top: 1em;
}

form{
    margin: auto;
    width: 300px;
    padding: 2em;
    border: 1px solid #ccc;
    border-radius: 1em;
}

input:focus, textarea:focus{
    border-color: #999;
}

label{
    display: inline-block;
    width: 50px;
}
