*{
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    height: 100vh;
    background-color: #ccc;
    justify-content: center;
    align-items: center;
}

#quadro{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 500px;
    height: 500px;
}

#pokebola{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

#topo{
    position: absolute;
    border-radius: 50%;
    background-color: red;
    width: 400px;
    height: 400px;
}

#baixo{
    position: absolute;
    border-radius: 50%;
    border: 1px solid black;
    background-color: white;
    width: 400px;
    height: 400px;
}

#bt{
    position: absolute;
    border-radius: 50%;
    border: 10px solid black;
    background-color: white;
    width: 100px;
    height: 100px;
}