@keyframes balanca{
    0%{
        left: 0px;
    }
    50%{
        left: 300px;
    }
    100%{
        left: 0px;
    }
}

@keyframes flutua{
    0%{
        bottom: 0px;
    }
    /* 25%{
        bottom: 25px;
    } */
    50%{
        bottom: -25px;
    }
    100%{
        bottom: 0px;
    }

}

*{
    margin: 0px;
    padding: 0px;
}

.caixa{
    width: 100px;
    height: 100px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#caixa1{
    background-color: red;
    cursor: pointer;
}

.balanca{
    left: 0px;
    animation-name: balanca;
    animation-duration: 3s;
}

#caixa2{
    background-color: yellow;
}

.flutua{
    animation-name: flutua;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
